
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>Employee</h1>
        </div>
        <div class="panel-body">
            <div class="col-sm-2">
                <a class="btn btn-default" href="../project/application"><h3><i class="glyphicon glyphicon-info-sign"></i></h3> Application</a>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-default" href="../project/Employee"><h3><i class="glyphicon glyphicon-user"></i></h3> Employee</a>
            </div>
        </div>
        <div class="panel-footer">
            Footer
        </div>
    </div>
</div>
